p{
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 224px;
    height: 100px;
    background-color: orange;

}
div.has-blue-text {
    color: rgb(12, 40, 222);
  }

h1{
    border: 2px solid red;
}

.my-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.has-blue-background{
    background-color: #A7DDFF;
    border:1px solid #721EE3;
}

.has-yellow-background{
    background-color: #FAF7A7;
    border:1px solid #E38C1E;
}
