main
{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 100px 100px 100px; /*fr means to fillup the rest of the space. */
    grid-template-rows: 200px 300px;
    /*height: 100vh /*telling it to fill up the whole window*/
    justify-content: center;
    align-content: center;
}
.cell{
    background-color: pink;
    border: solid 1px black;
    padding: .5em;
}
